/* simulation_styles.css */

/* General style for all data animation nodes */
/* .data-node rect,
.data-node circle, */

.data-node rect {
  fill: #FFC107;
}

.parsed-node rect {
  fill: rgb(31, 110, 0);
}

.signal-control-unit.value-0 {
  fill: #0074D9;
}

.signal-control-unit.value-1 {
  fill: #FF4136;
}

.signal-control-unit.ALUControl\.ALUOp {
  fill: #FF851B;
}

.signal-control-unit.ALU\.option {
  fill: #FF851B;
}

.parsed-node text,
.signal-control-unit text,
.data-node text {
  font-weight: bolder;
  fill: rgb(0, 0, 0); /* Default text color */
  text-anchor: middle; /* Center text horizontally */
  dominant-baseline: central; /* Center text vertically */
  /* Default font size - can be overridden */
  font-size: 20px;
  font: monospace;
  /* Prevent text selection when dragging node */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}