body { font-family: sans-serif; }
.component {
  fill: white;
  stroke: red;
  stroke-width: 3;
  vector-effect: non-scaling-stroke;
}
.label {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: black;
}
.label-start {
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: start;
  dominant-baseline: middle;
  fill: black;
}
 .mux-label {
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: black;
}
.mem-label {
   font-family: sans-serif;
   font-size: 10px;
   text-anchor: middle;
   dominant-baseline: middle;
   fill: black;
}
.signal-line {
  fill: none;
  stroke: blueviolet;
  stroke-width: 3;
}

.control-signal-line{
  fill: none;
  stroke: black;
  stroke-width: 3;
}

#control-signal-nodes g text {
  /* fill: white; */ /* Đã set bằng JS */
  /* font-family: sans-serif; */
  /* font-size: 10px; */
  /* font-weight: bold; */
  /* text-anchor: middle; */
  /* dominant-baseline: central; */
   pointer-events: none; /* Để không bắt sự kiện chuột */
   user-select: none; /* Để không chọn được text */
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

/* Style for the moving dot */
#movingDot {
	fill: red;
	/* visibility: hidden; /* Let's keep it visible initially for debugging */
}

.frame {
	width: 70%;
	height: 30%;
	border: 2px solid #333;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	background: #fafafa;
/* 	
	background-image: url('../download.png');
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat; */
  }
  .content {
	transform-origin: top left;
	transition: transform 0.1s ease;
	width: auto;
	height: auto;
  }